## Build results
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/

## Rider
.idea/

## OS
.DS_Store
Thumbs.db

## Logs
logs/
*.log

## Environment variables
appsettings.Development.json
appsettings.UAT.json
appsettings.Production.json

## Secrets
secrets.json
*.pfx

## Publish output
publish/
