name: CI CD
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore --configuration Release
      - name: Test
        run: dotnet test --no-build --verbosity normal
      - name: Publish
        run: dotnet publish --configuration Release --output publish_output
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: publish_output
          path: publish_output
  cd:
    name: Continuous Deployment
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: publish_output
          path: publish_output
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
      - name: Deploy to Render
        run: |
            echo "Triggering Render deployment..."
            curl -X POST "$RENDER_DEPLOY_HOOK_URL"
            echo "✅ Deploy hook triggered"
            env:
            RENDER_DEPLOY_HOOK_URL: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
